@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@700&display=swap");

@import "reset";
@import "mixin";

body {
  font-family: "Noto Sans", sans-serif;

  &.darkmode {
    img {
      filter: brightness(0.9);
    }

    #main {
      background-color: #333;

      .text {
        p {
          color: #888;
        }
      }

      .slider_div {
        > a {
          background-color: #333;
          color: #ccc;
        }
      }
    }

    #sub_1,
    #sub_2 {
      background-color: #234f6a;

      .sub_txt {
        background-color: #333;

        h2 {
          color: #ccc;
        }

        p {
          color: #999;
        }
      }
    }

    #article {
      background-color: #333;

      .inner {
        h2 {
          color: #ccc;
        }
        .arti_text {
          background-color: #333;
          p {
            color: #999;
          }
        }
      }
    }

    #banner {
      .inner {
        background-color: rgba(0, 0, 0, 0.6);

        h2 {
          color: #ccc;
        }

        p {
          color: #999;
        }
      }
    }

    #footer {
      background-color: #333;

      .inner {
        p {
          color: #777;
        }
      }
    }
  }
}

.modeBtn {
  position: fixed;
  bottom: 50px;
  right: 80px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $deep_blue;
  transition: 0.35s;
  cursor: pointer;
  z-index: 5;

  &:hover {
    background-color: #fff;

    a {
      color: $deep_blue;
    }
  }

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    transition: 0.35s;
    opacity: 0;

    &.on {
      opacity: 1;
    }
  }
}

section,
footer {
  transition: 0.5s;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #fff;

  .inner {
    width: 100%;
    height: 100%;

    .text {
      position: absolute;
      top: 20%;
      left: 7vw;
      z-index: 2;

      span {
        font-weight: bold;
        font-size: 0.9vw;
        color: #777;
      }

      h1 {
        margin: 30px 0;
        font-size: 4vw;
        font-family: "Noto Serif", serif;
        color: $orange;
        width: 70%;
      }

      p {
        width: 30%;
        line-height: 1.8;
        color: #4e4e4e;
        font-size: 0.8vw;
      }
    }

    .slider_div {
      position: absolute;
      top: 50%;
      right: 7vw;
      transform: translateY(-50%);
      width: 55vw;
      height: 80vh;

      #slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        ul {
          width: calc(100% * 5);
          height: 100%;
          margin-left: -100%;

          li {
            width: calc(100% / 5);
            height: 100%;
            float: left;

            img {
              @include fit();
            }
          }
        }
      }

      > a {
        @include flex(center);
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 8%;
        height: 10%;
        background-color: #ffffff;
        font-size: 22px;
        color: #222;
        transition: all 0.5s;

        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }

      .next {
        left: 8%;
      }
    }
  }
}

#sub_1,
#sub_2 {
  width: 100%;
  background-color: $light_blue;
  overflow: hidden;

  .inner {
    @include inner();
    @include flex(space-between);
    padding: 100px 0;

    .pic {
      width: 35vw;
      height: 600px;

      img {
        @include fit();
      }
    }

    .sub_txt {
      width: 45vw;
      height: 300px;
      padding: 30px;
      margin-left: 5vw;
      background-color: #fff;
      box-shadow: 30px 30px 0px $deep_blue;

      h2 {
        font-family: "Noto Serif", serif;
        font-size: 40px;
        margin-bottom: 35px;
        color: #222;
      }

      p {
        font: 300 16px/1.6 "Noto Sans", sans-serif;
        letter-spacing: 1px;
        color: #666;
      }
    }
  }
}

#sub_1 {
  .inner {
    .pic {
      @include subMotion(-150%);
    }

    .sub_txt {
      @include subMotion(150%);
    }
  }

  &.on {
    .inner {
      .pic {
        @include onSubMotion();
      }

      .sub_txt {
        @include onSubMotion();
      }
    }
  }
}

#sub_2 {
  .inner {
    .sub_txt {
      @include subMotion(-150%);
      margin-left: 0;
      margin-right: 5vw;
    }

    .pic {
      @include subMotion(150%);
    }
  }
  &.on {
    .inner {
      .sub_txt {
        @include onSubMotion();
      }

      .pic {
        @include onSubMotion();
      }
    }
  }
}

#article {
  width: 100%;

  .inner {
    @include inner();
    padding: 150px 0;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    h2 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 100px;
      font-family: "Noto serif", serif;
    }

    article {
      position: relative;
      width: 300px;
      height: 400px;
      margin-right: 140px;
      float: left;
      transform: translateY(100px);
      opacity: 0;
      transition: all 1s;

      @for $i from 1 to 4 {
        &:nth-of-type(#{$i}) {
          transition-delay: 0.3s * $i;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .arti_pic {
        width: 100%;
        height: 100%;

        img {
          @include fit();
        }
      }

      .arti_text {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 240px;
        padding: 15px;
        box-sizing: border-box;
        background-color: #fff;

        span {
          display: block;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: bold;
          color: $orange;
        }

        p {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }

  &.on {
    article {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

#banner {
  width: 100%;
  height: 650px;
  background: url(../img/banner.jpg) no-repeat center/cover fixed;

  .inner {
    width: 100%;
    height: 100%;
    padding: 200px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;

    h2 {
      font-size: 55px;
      font-family: "Noto serif", serif;
      margin-bottom: 100px;
      opacity: 0;
      transition: all 1s;
    }

    p {
      width: 70%;
      margin: 0 auto;
      font-size: 20px;
      opacity: 0;
      transition: all 1s;
    }
  }

  &.on {
    h2,
    p {
      opacity: 1;
    }
  }
}

#footer {
  width: 100%;

  .inner {
    @include inner();
    padding: 30px 0;

    p {
      text-align: center;
      color: $deep_blue;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

#nav {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);

  li {
    margin: 20px 0;

    a {
      display: block;
      width: 10px;
      height: 10px;
      background-color: rgba(255, 121, 23, 0.5);
      border-radius: 5px;
      transition: all 0.5s;

      &.on {
        background-color: $orange;
        height: 40px;
      }
    }
  }
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;

  .content {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;

    .content_pic {
      position: relative;
      width: 100%;
      font-family: "Noto Serif", serif;
      text-align: center;

      img {
        @include fit();
      }
      em {
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;
      }
      a {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        background-color: #fff;
        padding: 15px 40px;
        text-transform: uppercase;
        color: $orange;
        border-radius: 5px;
        transition: 0.35s;

        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .wrap {
      float: left;
      margin: 20px 0;
      margin-left: 20px;
    }

    a {
      float: right;
      margin: 20px 0;
      margin-right: 20px;
      color: #222;
    }
  }
}

//쿠키 확인용
/* 
.del,
.view {
  width: 150px;
  position: absolute;
  top: 40px;
  left: 7vw;
  background-color: $orange;
  color: #fff;
  text-align: center;
}

.view {
  top: 70px;
}
 */
